@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

// Colors
// #66d2cf
// hsl(179, 81%, 29%)
// hsl(215, 19%, 25%)
// #333d4b;
// #293039
// hsl(25, 94%, 86%)
// hsl(215, 5%, 54%)
// hsl(43, 78%, 98%)

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #fefcf7;
}

@import './partials/navbar';

.card {
  margin: auto;
  border-radius: 0.8rem;
  h1 {
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 1em 0;
    color: #fefcf7;
    font-family: 'Fraunces', sans-serif;
    text-align: center;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: #fefcf7;
    font-family: 'Barlow', sans-serif;
  }

  button {
    user-select: none;
    display: flex;
    color: #fefcf7;
    padding: 1em 2em;
    border-radius: 0.5rem;
    font-family: 'Fraunces', sans-serif;
    margin: 3em auto 1em auto;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: hsl(179, 81%, 29%);
    &:hover {
      cursor: pointer;
      background-color: #66d2cf;
    }
  }
  &--great--coffee {
    padding: 4em 1.5em;
    width: 90%;
    background-image: url('../assets/home/mobile/image-hero-coffeepress.jpg');
    background-size: cover;
  }
  &--choose--us {
    padding: 4em 1.5em;
    max-height: 60rem; // for the overflow effect
    width: 90%;
    background-color: #293039;
    p {
      margin-bottom: 4em;
    }
  }
  &--option {
    padding: 1em 0;
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: hsl(179, 81%, 29%);
    img {
      margin: 2.5em auto;
      width: 5em;
    }
    p {
      margin: 1em;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  &--how {
    width: 100%;
    position: relative;
    margin: 3em 0;
    background: hsl(43, 78%, 98%);
    h2 {
      font-size: 1.6rem;
      line-height: 2rem;
      color: #293039;
      font-family: 'Fraunces', sans-serif;
      text-align: center;
    }
    h1 {
      font-size: 4rem;
      line-height: 6rem;
      margin: 2em auto 0 auto;
      color: hsl(25, 94%, 86%);
      font-family: 'Fraunces', sans-serif;
      text-align: center;
    }
    p {
      margin: 2em auto;
      font-size: 1rem;
      line-height: 1.8rem;
      color: #293039;
    }
  }

  &--fake {
    margin-top: 45em; // for the overflow effect
    width: 90%;
    position: relative;
    h3 {
      color: #83888f;
      text-align: center;
      line-height: 2rem;
      font-size: 1.5rem;
      font-family: 'Fraunces', sans-serif;
      margin: 5em 0;
    }
  }

  &--about {
    background-image: url('../assets/about/mobile/image-hero-whitecup.jpg');
    background-size: cover;
    background-repeat: none;
    padding: 4em 1.5em;
    width: 90%;
  }

  &--commitment {
    width: 90%;
    padding: 4em 1.5em;
    background-image: url('../assets/about/mobile/image-commitment.jpg');
    background-size: cover;
    background-repeat: none;
    min-height: 25rem;
    margin: 4em auto;
  }
}

.quality {
  margin: 10em auto;
  padding: 6em 1.5em 4em 1.5em;
  position: relative;
  width: 90%;
  background-image: url('../assets/about/mobile/bg-quality.png');
  background-size: cover;
  background-repeat: none;
  h1 {
    margin-left: -5px;
  }
}

.quality-img {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0 auto;
  height: 10rem;
  width: 90%;
  border-radius: 0.8rem;
  background-image: url('../assets/about/mobile/image-quality.jpg');
  background-size: cover;
  background-repeat: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.commitment {
  width: 100%;
  h1 {
    text-align: center;
    margin: 1rem auto;
    width: 90%;
    color: #333d4b;
    font-family: 'Fraunces', sans-serif;
    font-size: 1.8rem;
  }
  p {
    margin: 2rem auto 1rem auto;
    text-align: center;
    line-height: 1.5;
    width: 90%;
    font-family: 'Barlow', sans-serif;
    color: #333d4b;
  }
}

.collection {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5em auto;
  &__title {
    position: relative;
    margin: 1em auto;
    h1 {
      font-size: 2.4rem;
      color: hsl(215, 5%, 54%);
      font-family: 'Fraunces', sans-serif;
    }
    .title-gradient {
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgb(254, 252, 247);
      background: -moz-linear-gradient(
        0deg,
        rgba(254, 252, 247, 0.8044818269104517) 25%,
        rgba(254, 247, 247, 0) 100%
      );
      background: -webkit-linear-gradient(
        0deg,
        rgba(254, 252, 247, 0.8044818269104517) 25%,
        rgba(254, 247, 247, 0) 100%
      );
      background: linear-gradient(
        0deg,
        rgba(254, 252, 247, 0.8044818269104517) 25%,
        rgba(254, 247, 247, 0) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefcf7",endColorstr="#fef7f7",GradientType=1);
    }
  }
}

.products {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.coffee {
  margin: 2em auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .product-image {
    margin: auto;
    img {
      width: 15rem;
    }
  }
  h1 {
    color: #333d4b;
    margin: 1em 0;
    font-family: 'Fraunces', sans-serif;
    text-align: center;
  }
  p {
    color: #333d4b;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.headquarters {
  margin: 1rem auto;
  width: 90%;
  h2 {
    margin: 2em auto;
    text-align: center;
    font-size: 1.5rem;
    color: hsl(215, 5%, 54%);
    font-family: 'Fraunces', sans-serif;
  }
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  color: #333d4b;
  img {
    margin: 3rem auto;
  }
  h1 {
    text-align: center;
    font-family: 'Fraunces', sans-serif;
  }
  ul {
    font-family: 'Barlow', sans-serif;
    list-style: none;
    text-align: center;
    li {
      margin: 1rem 0;
    }
  }
}

footer {
  margin-top: 8em;
  font-family: 'Barlow', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #2c343e;
  padding: 3em 0;
  color: #fefcf7;
  img {
    margin: 1em auto;
    width: 12rem;
    max-width: 60%;
  }
  ul {
    margin: auto;
  }
  li {
    user-select: none;
    text-transform: uppercase;
    color: #83888f;
    list-style: none;
    text-align: center;
    margin: 1rem 0;
    &:hover {
      cursor: pointer;
      color: #fefcf7;
    }
  }
}

.socials {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  img {
    width: 1.5rem;
    margin: 2rem auto;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 400px) {
  html {
    font-size: 20px;
  }
}
