@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Barlow:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #fefcf7;
}

nav {
  user-select: none;
  margin: 1rem auto;
  width: 90%;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img {
  width: 8rem;
  margin: 0.5rem;
}

#navigation {
  display: none;
}
#navigation li {
  font-family: "Barlow", sans-serif;
  margin: 0 0.6rem;
  font-size: 0.6rem;
  letter-spacing: 1px;
  font-weight: 600;
  display: inline;
  color: #83888f;
}
#navigation a {
  text-decoration: none;
  color: #83888f;
  transition: 100ms color;
}
#navigation a:hover {
  color: #333d4b;
}

#hamburger {
  user-select: none;
  height: 16px;
  width: 16px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #343e4c;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(3) {
  bottom: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 106%;
  top: 0;
  left: 0;
}

#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 106%;
  bottom: 0;
  left: 0;
}

.hidden {
  pointer-events: none;
  opacity: 0 !important;
}
.hidden ul {
  opacity: 0 !important;
  transform: translate(0px, -25px) !important;
}

.modal-menu {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  opacity: 1;
  transition: opacity 300ms ease-in;
  font-family: "Fraunces", sans-serif;
  background: #fefcf7;
  background: -moz-linear-gradient(180deg, #fefcf7 25%, rgba(254, 247, 247, 0) 100%);
  background: -webkit-linear-gradient(180deg, #fefcf7 25%, rgba(254, 247, 247, 0) 100%);
  background: linear-gradient(180deg, #fefcf7 25%, rgba(254, 247, 247, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefcf7",endColorstr="#fef7f7",GradientType=1);
  text-align: center;
}
.modal-menu ul {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 200ms ease-out 200ms, transform 500ms ease-out;
}
.modal-menu li {
  color: #848990;
  font-size: 1.2rem;
  list-style: none;
  margin-bottom: 1rem;
  user-select: none;
}
.modal-menu li a {
  text-decoration: none;
  color: #343e4c;
}
.modal-menu li a:hover {
  cursor: pointer;
  color: #0e8684;
}

.card {
  margin: auto;
  border-radius: 0.8rem;
}
.card h1 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 1em 0;
  color: #fefcf7;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.card p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #fefcf7;
  font-family: "Barlow", sans-serif;
}
.card button {
  user-select: none;
  display: flex;
  color: #fefcf7;
  padding: 1em 2em;
  border-radius: 0.5rem;
  font-family: "Fraunces", sans-serif;
  margin: 3em auto 1em auto;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #0e8684;
  transition: 100ms background-color;
}
.card button:hover {
  cursor: pointer;
  background-color: #66d2cf;
}
.card--great--coffee {
  padding: 4em 1.5em;
  width: 90%;
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
  background-size: cover;
}
.card--great--coffee h1 {
  font-size: clamp(2.2rem, 10vw, 3.6rem);
  line-height: 1.2;
  margin: 2rem auto;
}
.card--great--coffee p {
  width: clamp(10ch, 100%, 35ch);
  margin: 0 auto;
}
.card--choose--us {
  padding: 4em 1.5em;
  max-height: 60rem;
  width: 90%;
  background-color: #293039;
}
.card--choose--us p {
  margin: 0 auto 4em auto;
  max-width: 40ch;
}
.card--option {
  padding: 1em;
  margin: 1.5em auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20rem;
  background-color: #0e8684;
}
.card--option img {
  margin: 2.5em auto;
  width: 5em;
}
.card--option p {
  margin: 1em auto;
  font-size: 1rem;
  line-height: 1.5rem;
}
.card--how {
  width: 100%;
  position: relative;
  margin: 3em 0;
  background: #fefcf6;
}
.card--how h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #293039;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.card--how h1 {
  font-size: 4rem;
  line-height: 6rem;
  margin: 2em auto 0 auto;
  color: #fdd6ba;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.card--how p {
  max-width: 40ch;
  margin: 2em auto;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #293039;
}
.card--fake {
  margin-top: 45em;
  width: 90%;
  position: relative;
}
.card--fake h3 {
  color: #83888f;
  text-align: center;
  line-height: 2rem;
  font-size: 1.5rem;
  font-family: "Fraunces", sans-serif;
  margin: 5em 0;
}
.card--fake h2 {
  margin: auto;
}
.card--about {
  background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  padding: 4em 1.5em;
  width: 90%;
}
.card--about p {
  margin: auto;
  max-width: 36ch;
}
.card--commitment {
  width: 90%;
  padding: 4em 1.5em;
  background-image: url("../assets/about/mobile/image-commitment.jpg");
  background-size: cover;
  background-repeat: none;
  min-height: 25rem;
  margin: 4em auto;
}
.card--plan {
  width: 90%;
  padding: 4em 1.5em;
  background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  min-height: 25rem;
  margin: 4em auto;
}
.card--plan h1 {
  font-size: 2.2rem !important;
}
.card--plan p {
  margin: auto;
}

.steps-illustration {
  display: none;
  position: relative;
  width: 70%;
  height: 2rem;
}
.steps-illustration .circle1 {
  left: 0;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #0e8684;
}
.steps-illustration .circle2 {
  transform-origin: 50% 50%;
  left: 50%;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #0e8684;
}
.steps-illustration .circle3 {
  transform-origin: 50% 50%;
  right: 0;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #0e8684;
}
.steps-illustration .behind-line {
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-color: #fdd6ba;
}

.all-steps {
  margin: 6em auto;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/plan/mobile/bg-steps.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.8em;
}

.step {
  width: 100%;
  position: relative;
  margin: 1em 0;
}
.step h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #fefcf7;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.step h1 {
  font-size: 4rem;
  line-height: 6rem;
  margin: 0 auto;
  color: #fdd6ba;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.step p {
  text-align: center;
  font-family: "Barlow", sans-serif;
  margin: 2em auto 0 auto;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #fefcf7;
}

.quality {
  margin: 10em auto;
  padding: 6em 1.5em 4em 1.5em;
  position: relative;
  width: 90%;
  background-image: url("../assets/about/mobile/bg-quality.png");
  background-size: cover;
  background-repeat: none;
}
.quality h1 {
  color: #fefcf7;
  margin-left: -5px;
}
.quality p {
  margin: auto;
  color: #d3d3d1 #d3d3d1;
}

.quality-img {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0 auto;
  height: 10rem;
  width: 90%;
  border-radius: 0.8rem;
  background-image: url("../assets/about/mobile/image-quality.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.commitment {
  width: 100%;
}
.commitment h1 {
  text-align: center;
  margin: 1rem auto;
  width: 90%;
  color: #333d4b;
  font-family: "Fraunces", sans-serif;
  font-size: 1.8rem;
}
.commitment p {
  margin: 2rem auto 1rem auto;
  text-align: center;
  line-height: 1.5;
  width: 90%;
  font-family: "Barlow", sans-serif;
  color: #333d4b;
}

.collection {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5em auto;
}
.collection__title {
  position: relative;
  margin: 1em auto;
}
.collection__title h1 {
  font-size: 2.4rem;
  color: #848990;
  font-family: "Fraunces", sans-serif;
}
.collection__title .title-gradient {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fefcf7;
  background: -moz-linear-gradient(0deg, rgba(254, 252, 247, 0.8044818269) 25%, rgba(254, 247, 247, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(254, 252, 247, 0.8044818269) 25%, rgba(254, 247, 247, 0) 100%);
  background: linear-gradient(0deg, rgba(254, 252, 247, 0.8044818269) 25%, rgba(254, 247, 247, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefcf7",endColorstr="#fef7f7",GradientType=1);
}

.choice {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1em auto;
}
.choice .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choice .question:hover {
  cursor: pointer;
}
.choice .question h1 {
  flex: 3;
  font-family: "Fraunces", sans-serif;
  color: #83888f;
  transition: 100ms color;
  font-size: 1.6rem;
}
.choice .question h1:hover {
  color: #9398a0;
}
.choice .question .arrow-wrap {
  display: flex;
  flex: 0.5;
}
.choice .question .arrow-wrap img {
  margin: 0 auto;
}
.choice .answers {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
}
.choice .answer {
  background-color: #f4f1eb;
  transition: 100ms background;
  border-radius: 0.5rem;
  margin: 0.5em auto;
  padding: 1.2em;
}
.choice .answer:hover {
  background-color: #fdd6ba;
  cursor: pointer;
}
.choice .answer h3 {
  font-family: "Fraunces", sans-serif;
  font-size: 1.3rem;
  color: #333d4b;
}
.choice .answer p {
  margin: 0.5em auto;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  color: #333d4b;
}

.disabled {
  background-color: #e2dedb !important;
  cursor: not-allowed !important;
}

.products {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.coffee {
  margin: 2em auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.coffee .product-image {
  margin: auto;
}
.coffee .product-image img {
  width: 15rem;
}
.coffee h1 {
  color: #333d4b;
  margin: 1em 0;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.coffee h2 {
  color: #333d4b;
  margin: 1em 0;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.coffee p {
  color: #333d4b;
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4rem;
  max-width: 30ch;
}

.headquarters {
  margin: 1rem auto;
  width: 90%;
}
.headquarters h2 {
  margin: 2em auto;
  text-align: center;
  font-size: 1.5rem;
  color: #848990;
  font-family: "Fraunces", sans-serif;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  color: #333d4b;
}
.country img {
  margin: 3rem auto;
}
.country h1 {
  text-align: center;
  font-family: "Fraunces", sans-serif;
}
.country ul {
  font-family: "Barlow", sans-serif;
  list-style: none;
  text-align: center;
}
.country ul li {
  margin: 1rem 0;
}

footer {
  width: 95%;
  margin: 8em auto 1em auto;
  font-family: "Barlow", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #2c343e;
  padding: 3em 0;
  color: #fefcf7;
}
footer img {
  margin: 1em auto;
  width: 12rem;
  max-width: 60%;
}
footer ul {
  margin: auto;
}
footer li {
  user-select: none;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  margin: 1rem 0;
}
footer a {
  text-decoration: none;
  color: #83888f;
}
footer a:hover {
  cursor: pointer;
  color: #fefcf7;
}

.socials {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}
.socials img {
  width: 1.5rem;
  margin: 2rem auto;
}
.socials img:hover {
  cursor: pointer;
}

.order-overview {
  padding-top: 50%;
}
.order-overview button {
  user-select: none;
  display: flex;
  color: #fefcf7;
  padding: 1em 2em;
  border-radius: 0.5rem;
  font-family: "Fraunces", sans-serif;
  margin: 3em auto 1em auto;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #0e8684;
  transition: 100ms background-color;
}
.order-overview button:hover {
  cursor: pointer;
  background-color: #66d2cf;
}

.order-preview {
  width: 90%;
  background-color: #293039;
  padding: 1.5em;
}
.order-preview h3 {
  font-family: "Barlow", sans-serif;
  color: #848990;
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0.5em auto;
}
.order-preview h4 {
  font-family: "Fraunces", sans-serif;
  color: #fefcf7;
  font-size: 1.5rem;
  line-height: 1.6;
}
.order-preview span {
  color: #0e8684;
  transition: 100ms color;
}
.order-preview span:hover {
  cursor: pointer;
  color: #0f9693;
}

.modal {
  display: flex;
  flex-direction: column;
  transform: translate(0, -50%);
  top: 50%;
  left: 5%;
  right: 5%;
  position: fixed;
  border-radius: 0.8em;
  background-color: #fefcf7;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.modal__title {
  border-radius: 0.8em 0.8em 0 0;
  background-color: #2f3844;
}
.modal__title h1 {
  text-align: center;
  font-family: "Fraunces", sans-serif;
  color: #fefcf7;
  font-size: 1.5rem;
  margin: 1em 0.5em;
}
.modal__preview h4 {
  font-family: "Fraunces", sans-serif;
  color: #83888f;
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0.5em;
}
.modal__preview span {
  color: #0e8684;
  transition: 100ms color;
}
.modal__preview span:hover {
  cursor: pointer;
  color: #0f9693;
}
.modal p {
  margin: 0 0.5em;
  color: #848990;
  font-family: "Barlow", sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.modal button {
  user-select: none;
  display: flex;
  color: #fefcf7;
  padding: 1em 2em;
  border-radius: 0.5rem;
  font-family: "Fraunces", sans-serif;
  margin: 1em auto;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #0e8684;
  transition: 100ms background-color;
}
.modal button:hover {
  cursor: pointer;
  background-color: #66d2cf;
}

@media (min-width: 481px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 711px) {
  html {
    font-size: 20px;
  }

  #hamburger {
    display: none;
  }

  #navigation {
    display: block;
  }

  .quality {
    margin: 15em auto 10em auto;
    padding: 30vw 1.5em 4em 1.5em;
    position: relative;
    width: 90%;
    background-image: url("../assets/about/tablet/bg-quality.png");
    background-size: cover;
    background-repeat: none;
  }
  .quality h1 {
    color: #fefcf7;
    margin-left: -5px;
  }
  .quality p {
    color: #d3d3d1;
    margin: auto;
    font-size: 1rem;
    width: clamp(1rem, 70%, 75ch);
    font-weight: 300;
  }

  .quality-img {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0 auto;
    height: 50vw;
    width: 80%;
    border-radius: 0.8rem;
    background-image: url("../assets/about/tablet/image-quality.jpg");
    background-size: cover;
    background-repeat: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  }

  .card--about {
    padding: 6em 3em;
    background-image: url("../assets/about/tablet/image-hero-whitecup.jpg");
  }
  .card--about h1 {
    font-size: 2rem;
    text-align: left;
  }
  .card--about p {
    text-align: left;
    margin: 0;
  }
  .card--choose--us {
    padding: 2rem;
  }
  .card--great--coffee {
    background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
    background-size: cover;
    background-position: center;
    padding: 4rem;
  }
  .card--great--coffee h1 {
    width: clamp(10ch, 50%, 15ch);
    font-size: clamp(1rem, 8vw, 4rem);
    line-height: 1.2;
    text-align: left;
    margin: 1rem 0;
  }
  .card--great--coffee p {
    width: clamp(40ch, 60%, 60ch);
    margin: 0;
    text-align: left;
  }
  .card--option {
    align-items: center;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 90%;
    background-color: #0e8684;
  }
  .card--option img {
    margin: 2.5em 2rem;
  }
  .card--option h1 {
    text-align: left;
    font-size: 1.8rem;
    min-width: 15ch;
    margin: 0.5em auto;
  }
  .card--option p {
    max-width: 38ch;
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-align: left;
  }

  .headquarters {
    margin: 1rem auto;
    width: 90%;
  }
  .headquarters h2 {
    margin: 1em;
    text-align: left;
    font-size: 1.5rem;
    color: #848990;
    font-family: "Fraunces", sans-serif;
  }

  .countries {
    display: flex;
  }

  .country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em auto;
    color: #333d4b;
  }
  .country img {
    width: 3rem;
    margin: 1em 0 3em 0;
    max-height: 3em;
  }
  .country h1 {
    text-align: left;
    font-size: 3vw;
  }
  .country ul {
    margin-top: 1em;
  }
  .country ul li {
    margin: 0.5em 0;
    text-align: left;
  }

  .commitment {
    position: relative;
    width: 90%;
    display: flex;
    margin: 10em auto;
  }
  .commitment__text {
    padding: 2em 0;
    margin: 0 0 0 3em;
  }
  .commitment__text h1 {
    margin: 0 0 0.8em 0;
    font-size: 4vw;
    min-width: 13ch;
    text-align: left;
  }
  .commitment__text p {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    text-align: left;
    margin: 0;
    line-height: 1.5;
  }

  .card--commitment {
    min-width: 16em;
    flex: 0.8;
    padding: 4em 1.5em;
    background-image: url("../assets/about/tablet/image-commitment.jpg");
    background-size: cover;
    background-repeat: none;
    margin: auto 0;
    max-height: 30em;
  }

  .steps-illustration {
    display: block;
  }

  .card--fake {
    margin: 5em auto;
  }
  .card--fake h3 {
    font-size: 2rem;
    text-align: left;
  }

  .how-cards {
    display: flex;
  }

  .card--how {
    padding: 0.8em;
  }
  .card--how h1 {
    margin: 0;
    text-align: left;
  }
  .card--how h2 {
    text-align: left;
    max-width: 10ch;
    margin: 0;
  }
  .card--how p {
    margin: 1em 0;
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.6;
    max-width: 35ch;
  }

  .collection__title {
    position: relative;
    top: 6.5rem;
    z-index: -1;
    margin: 0;
  }
  .collection__title h1 {
    font-size: clamp(2rem, 12vw, 6rem);
    width: 100%;
    text-align: center;
  }
  .collection .products {
    margin-top: 2.5rem;
  }
  .collection .coffee {
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
  }
  .collection .product-image {
    margin: 0 3rem 0 0;
  }
  .collection .product-image img {
    width: 12rem;
    margin: auto;
  }
  .collection .product-description h2 {
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
  }
  .collection .product-description p {
    text-align: left;
    font-size: 1rem, 5vw, 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
