@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Barlow:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #fefcf7;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 5;
  user-select: none;
}

nav {
  user-select: none;
  margin: 1rem auto;
  width: 90%;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img {
  width: 8rem;
  margin: 0.5rem;
}

#navigation {
  display: none;
}
#navigation li {
  font-family: "Barlow", sans-serif;
  margin: 0 0.6rem;
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 600;
  display: inline;
  color: #83888f;
}
#navigation a {
  text-decoration: none;
  color: #83888f;
  transition: 100ms color;
}
#navigation a:hover {
  color: #333d4b;
}

#hamburger {
  user-select: none;
  height: 16px;
  width: 16px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #343e4c;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(3) {
  bottom: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 106%;
  top: 0;
  left: 0;
}

#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 106%;
  bottom: 0;
  left: 0;
}

.hidden {
  pointer-events: none;
  opacity: 0 !important;
}
.hidden ul {
  opacity: 0 !important;
  transform: translate(0px, -25px) !important;
}

.modal-menu {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  opacity: 1;
  transition: opacity 300ms ease-in;
  font-family: "Fraunces", sans-serif;
  background: #fefcf7;
  background: -moz-linear-gradient(180deg, #fefcf7 25%, rgba(254, 247, 247, 0) 100%);
  background: -webkit-linear-gradient(180deg, #fefcf7 25%, rgba(254, 247, 247, 0) 100%);
  background: linear-gradient(180deg, #fefcf7 25%, rgba(254, 247, 247, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefcf7",endColorstr="#fef7f7",GradientType=1);
  text-align: center;
}
.modal-menu ul {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 200ms ease-out 200ms, transform 500ms ease-out;
}
.modal-menu li {
  color: #848990;
  font-size: 1.2rem;
  list-style: none;
  margin-bottom: 1rem;
  user-select: none;
}
.modal-menu li a {
  text-decoration: none;
  color: #343e4c;
}
.modal-menu li a:hover {
  cursor: pointer;
  color: #0e8684;
}

.nav-logo {
  width: 150px;
  height: 30px;
}

.logo {
  height: 30px;
}

.icon {
  height: 20px;
  width: clamp(20px, 5vw, 2rem);
}

.illustration {
  width: clamp(30px, 15vh, 100px);
}

.card {
  margin: auto;
  border-radius: 0.8rem;
}
.card h1 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 1em 0;
  color: #fefcf7;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.card p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #fefcf7;
  font-family: "Barlow", sans-serif;
}
.card button {
  user-select: none;
  display: flex;
  color: #fefcf7;
  padding: 1em 2em;
  border-radius: 0.5rem;
  font-family: "Fraunces", sans-serif;
  margin: 3em auto 1em auto;
  border: none;
  font-size: 1rem;
  background-color: #0e8684;
  transition: 100ms background-color;
}
.card button:hover {
  cursor: pointer;
  background-color: #66d2cf;
}
.card--great--coffee {
  padding: 4em 1.5em;
  margin: 4em auto;
  width: 90%;
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
  background-size: cover;
}
.card--great--coffee h1 {
  font-size: clamp(2.2rem, 10vw, 3.6rem);
  line-height: 1.2;
  margin: 2rem auto;
}
.card--great--coffee p {
  width: clamp(10ch, 100%, 35ch);
  margin: 0 auto;
}
.card--choose--us {
  padding: 4em 1.5em;
  max-height: 60rem;
  width: 90%;
  background-color: #293039;
}
.card--choose--us p {
  margin: 0 auto 4em auto;
  max-width: 40ch;
}
.card--option {
  padding: 1em;
  margin: 1.5em auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20rem;
  background-color: #0e8684;
}
.card--option img {
  margin: 2.5em auto;
  width: 5em;
}
.card--option p {
  margin: 1em auto;
  font-size: 1rem;
  line-height: 1.5rem;
}
.card--how {
  width: 100%;
  position: relative;
  margin: 3em 0;
  background: #fefcf6;
}
.card--how h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #293039;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.card--how h1 {
  font-size: 4rem;
  line-height: 6rem;
  margin: 2em auto 0 auto;
  color: #fdd6ba;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.card--how p {
  max-width: 40ch;
  margin: 2em auto;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #293039;
}
.card--fake {
  margin-top: 45em;
  width: 90%;
  position: relative;
}
.card--fake h3 {
  color: #83888f;
  text-align: center;
  line-height: 2rem;
  font-size: 1.5rem;
  font-family: "Fraunces", sans-serif;
  margin: 5em 0;
}
.card--fake h2 {
  margin: auto;
}
.card--about {
  background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  padding: 4em 1.5em;
  width: 90%;
}
.card--about p {
  margin: auto;
  max-width: 36ch;
}
.card--commitment {
  width: 90%;
  padding: 4em 1.5em;
  background-image: url("../assets/about/mobile/image-commitment.jpg");
  background-size: cover;
  background-repeat: none;
  min-height: 25rem;
  margin: 4em auto;
}
.card--plan {
  width: 90%;
  padding: 4em 1.5em;
  background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  min-height: 25rem;
  margin: 4em auto;
}
.card--plan h1 {
  font-size: 2.2rem;
}
.card--plan p {
  margin: auto;
  width: clamp(20ch, 80%, 35ch);
}

.questions-map {
  display: none;
}

.steps-illustration {
  display: none;
  position: relative;
  width: 70%;
  height: 1.5rem;
}
.steps-illustration .circle1 {
  left: 0;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #0e8684;
}
.steps-illustration .circle2 {
  transform-origin: 50% 50%;
  left: 50%;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #0e8684;
}
.steps-illustration .circle3 {
  transform-origin: 50% 50%;
  right: 0;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #0e8684;
}
.steps-illustration .behind-line {
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-color: #fdd6ba;
}

.steps-illustration-2 {
  margin: 3em 0 0 2em;
  display: none;
  position: relative;
  width: 70%;
  height: 2rem;
}
.steps-illustration-2 .circle1 {
  z-index: 2;
  left: -1rem;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #0e8684;
}
.steps-illustration-2 .circle2 {
  z-index: 2;
  transform-origin: 50% 50%;
  left: 50%;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #0e8684;
}
.steps-illustration-2 .circle3 {
  z-index: 2;
  transform-origin: 50% 50%;
  right: -1rem;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #0e8684;
}
.steps-illustration-2 .behind-line {
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  width: 100%;
  height: 3px;
  background-color: #fdd6ba;
}

.all-steps {
  transition: 300ms width ease-in-out;
  margin: 6em auto;
  padding: 6em 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/plan/tablet/bg-steps.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.8em;
}

.step {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 1em 0;
}
.step h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #fefcf7;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.step h1 {
  font-size: 4rem;
  line-height: 6rem;
  margin: 0 auto;
  color: #fdd6ba;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.step p {
  width: clamp(30ch, 80%, 40ch);
  text-align: center;
  font-family: "Barlow", sans-serif;
  margin: 1em auto 0 auto;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #fefcf7;
}

.quality {
  margin: 10em auto;
  padding: 6em 1.5em 4em 1.5em;
  position: relative;
  width: 90%;
  background-image: url("../assets/about/mobile/bg-quality.png");
  background-size: cover;
  background-repeat: none;
}
.quality h1 {
  color: #fefcf7;
  margin-left: -5px;
}
.quality p {
  width: clamp(10ch, 90%, 40ch);
  margin: auto;
  color: #d3d3d1;
}

.quality-img {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0 auto;
  height: 10rem;
  width: 90%;
  border-radius: 0.8rem;
  background-image: url("../assets/about/mobile/image-quality.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.commitment {
  width: 100%;
}
.commitment__text h1 {
  text-align: center;
  margin: 1rem auto;
  width: 90%;
  color: #333d4b;
  font-family: "Fraunces", sans-serif;
  font-size: 1.8rem;
}
.commitment__text p {
  margin: 2rem auto 1rem auto;
  text-align: center;
  line-height: 1.5;
  width: clamp(20ch, 80%, 45ch);
  font-family: "Barlow", sans-serif;
  color: #333d4b;
}

.collection {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5em auto;
}
.collection__title {
  position: relative;
  margin: 1em auto;
}
.collection__title h1 {
  font-size: 2.4rem;
  color: #848990;
  font-family: "Fraunces", sans-serif;
}
.collection__title .title-gradient {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fefcf7;
  background: -moz-linear-gradient(0deg, rgba(254, 252, 247, 0.8044818269) 25%, rgba(254, 247, 247, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(254, 252, 247, 0.8044818269) 25%, rgba(254, 247, 247, 0) 100%);
  background: linear-gradient(0deg, rgba(254, 252, 247, 0.8044818269) 25%, rgba(254, 247, 247, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefcf7",endColorstr="#fef7f7",GradientType=1);
}

.question--disabled {
  user-select: none;
  pointer-events: none;
  cursor: auto;
}
.question--disabled svg {
  fill: #86c2c1 !important;
}
.question--disabled h1 {
  color: #c1c3c7 !important;
}

.choice {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2em 0 1em auto;
}
.choice .question {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em 0;
}
.choice .question svg {
  transition: 300ms fill;
}
.choice .question:hover {
  cursor: pointer;
}
.choice .question:hover h1 {
  color: #9398a0;
}
.choice .question:hover .arrow-wrap svg {
  transition: 300ms fill;
  fill: #66d2cf;
}
.choice .question h1 {
  flex: 3;
  font-family: "Fraunces", sans-serif;
  color: #83888f;
  transition: 100ms color;
  font-size: 1.6rem;
  margin-right: 1em;
}
.choice .question .arrow-wrap {
  margin-right: 1em;
  width: 1rem;
}
.choice .question .arrow-wrap svg {
  margin: auto;
  display: block;
  scale: 1.5;
  width: 20px;
  height: 20px;
  fill: #0e8784;
  transition: 200ms transform;
}
.choice .question--open .arrow-wrap svg {
  transform: rotate(180deg);
  transition: 200ms transform;
}
.choice .answers--open {
  display: flex !important;
  max-height: 50em !important;
  transition: max-height 200ms ease-in;
}
.choice .invisible {
  opacity: 0;
}
.choice .answers {
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-out;
  user-select: none;
  margin: 0 0 5em 0;
  display: none;
  flex-direction: column;
}
.choice .answer {
  width: clamp(8em, 100%, 50em);
  background-color: #f4f1eb;
  transition: 100ms background;
  border-radius: 0.5em;
  margin: 0.5em auto;
  padding: 1.2em;
}
.choice .answer:hover {
  background-color: #fdd6ba;
  cursor: pointer;
}
.choice .answer h3 {
  font-family: "Fraunces", sans-serif;
  font-size: clamp(0.8rem, 10vw, 1.8rem);
  color: #333d4b;
}
.choice .answer p {
  margin: 0.5em auto;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  color: #333d4b;
}

.answer--active {
  background-color: #0e8684 !important;
}
.answer--active p,
.answer--active h3 {
  color: white !important;
}

.disabled {
  background-color: #e2dedb !important;
  cursor: auto !important;
}

.products {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.coffee {
  margin: 2em auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.coffee .product-image {
  margin: auto;
}
.coffee .product-image img {
  width: 15rem;
}
.coffee h1 {
  color: #333d4b;
  margin: 1em 0;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.coffee h2 {
  color: #333d4b;
  margin: 1em 0;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.coffee p {
  color: #333d4b;
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4rem;
  max-width: 30ch;
}

.headquarters {
  margin: 1rem auto;
  width: 90%;
}
.headquarters h2 {
  margin: 2em auto;
  text-align: center;
  font-size: 1.5rem;
  color: #848990;
  font-family: "Fraunces", sans-serif;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  color: #333d4b;
}
.country svg {
  margin: 1em auto;
}
.country h1 {
  text-align: center;
  font-family: "Fraunces", sans-serif;
}
.country ul {
  font-family: "Barlow", sans-serif;
  list-style: none;
  text-align: center;
}
.country ul li {
  margin: 1rem 0;
}

footer {
  margin: 8em 0 0 0;
  font-family: "Barlow", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #2c343e;
  padding: 3em 0;
  color: #fefcf7;
  box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.2);
}
footer svg {
  margin: 1.5em 2em;
}
footer ul {
  margin: auto;
}
footer li {
  user-select: none;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  margin: 1rem 0;
}
footer a {
  text-decoration: none;
  color: #83888f;
}
footer a:hover {
  cursor: pointer;
  color: #fefcf7;
}

.socials {
  width: clamp(3em, 50%, 30em);
  display: flex;
  justify-content: space-around;
  margin: 1em auto;
}
.socials svg {
  fill: #fefcf7;
  margin: auto;
  display: block;
  height: 50px;
  width: clamp(30px, 15%, 150px);
  transition: 300ms fill;
}
.socials svg:hover {
  cursor: pointer;
  fill: #fdd6b9;
}

.order-overview {
  padding-top: 5em;
}
.order-overview button {
  user-select: none;
  display: flex;
  color: #fefcf7;
  padding: 1em 2em;
  border-radius: 0.5rem;
  font-family: "Fraunces", sans-serif;
  margin: 3em auto 1em auto;
  border: none;
  font-size: 1rem;
  background-color: #0e8684;
  transition: 100ms background-color;
}
.order-overview button:hover {
  cursor: pointer;
  background-color: #66d2cf;
}

.order-preview {
  width: 90%;
  background-color: #293039;
  padding: 1.5em;
}
.order-preview h3 {
  font-family: "Barlow", sans-serif;
  color: #848990;
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0.5em auto;
}
.order-preview h4 {
  font-family: "Fraunces", sans-serif;
  color: #fefcf7;
  font-size: 1.5rem;
  line-height: 1.6;
}
.order-preview .custom {
  color: #0e8684;
  transition: 100ms color;
}
.order-preview .custom:hover {
  cursor: pointer;
  color: #0f9693;
}

.variation {
  display: none;
}

.modal {
  z-index: 6;
  display: flex;
  flex-direction: column;
  transform: translate(0, -50%);
  top: 50%;
  left: 5%;
  right: 5%;
  position: fixed;
  border-radius: 0.8em;
  background-color: #fefcf7;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.modal__title {
  border-radius: 0.8em 0.8em 0 0;
  background-color: #2f3844;
}
.modal__title h1 {
  text-align: center;
  font-family: "Fraunces", sans-serif;
  color: #fefcf7;
  font-size: clamp(1rem, 5vw, 3rem);
  margin: 1em 0.5em;
}
.modal__preview h4 {
  font-family: "Fraunces", sans-serif;
  color: #83888f;
  font-size: clamp(1rem, 5vw, 3rem);
  line-height: 1.6;
  margin: 1em;
}
.modal__preview span {
  color: #0e8684;
  transition: 100ms color;
}
.modal__preview span:hover {
  cursor: pointer;
  color: #0f9693;
}
.modal p {
  margin: 0 2em;
  color: #848990;
  font-family: "Barlow", sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
}
.modal button {
  user-select: none;
  display: flex;
  color: #fefcf7;
  padding: 1em 2em;
  border-radius: 0.5rem;
  font-family: "Fraunces", sans-serif;
  margin: 1em;
  border: none;
  font-size: 1rem;
  background-color: #0e8684;
  transition: 100ms background-color;
}
.modal button:hover {
  cursor: pointer;
  background-color: #66d2cf;
}

.checkout-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}
.checkout-preview h3 {
  color: #333d4b;
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
}

@media (min-width: 481px) {
  html {
    font-size: 18px;
  }

  .modal p {
    text-align: left;
  }

  .checkout-preview {
    flex-direction: row;
  }
}
.choice {
  margin: 1em auto;
}

@media (min-width: 711px) {
  html {
    font-size: 20px;
  }

  .nav-logo {
    width: 200px;
    height: 50px;
  }

  .choice {
    margin: 1em auto;
  }

  .options {
    margin: 0 auto;
    width: clamp(20em, 90%, 120em);
  }

  footer ul {
    margin: 3em auto;
    display: inline;
  }
  footer li {
    user-select: none;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    margin: 1em;
  }

  #hamburger {
    display: none;
  }

  #navigation {
    display: block;
  }

  .arrow-wrap {
    margin-right: 2em;
  }
  .arrow-wrap svg {
    scale: 2 !important;
  }

  .steps-list {
    display: flex;
  }

  .all-steps {
    position: relative;
    max-width: 90%;
    padding: 6em 7vw;
    transition: 300ms width ease-in-out;
    background-image: url("../assets/plan/tablet/bg-steps.png");
  }

  .step {
    width: 100%;
    position: relative;
    padding: 0.8em;
  }
  .step h1 {
    margin: 0;
    text-align: left;
  }
  .step h2 {
    line-height: 1.3;
    font-size: clamp(1.4rem, 4vw, 2rem);
    text-align: left;
    max-width: 10ch;
    margin: 0;
  }
  .step p {
    width: clamp(15ch, 80%, 30ch);
    margin: 1em 0;
    font-size: 1rem;
    text-align: left;
    line-height: 1.6;
  }

  .answers {
    flex-direction: row !important;
  }

  .answer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5em !important;
    padding: 3em 1em 6em 1em !important;
  }
  .answer p {
    font-size: clamp(0.6rem, 2vw, 1rem);
  }
  .answer h3 {
    font-size: clamp(0.8rem, 4vw, 1.8rem) !important;
  }

  .quality {
    margin: 50vw auto 10em auto;
    padding: 20vw 1.5em 4em 1.5em;
    position: relative;
    background-image: url("../assets/about/tablet/bg-quality.png");
    background-size: cover;
    background-repeat: none;
  }
  .quality h1 {
    color: #fefcf7;
    margin-left: -5px;
  }
  .quality p {
    color: #fefcf7;
    font-size: 1rem;
    width: clamp(10ch, 60%, 60ch);
    font-weight: 300;
  }

  .quality-img {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0 auto;
    height: 30vw;
    width: 60%;
    border-radius: 0.8rem;
    background-image: url("../assets/about/tablet/image-quality.jpg");
    background-size: cover;
    background-repeat: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  }

  .card--about {
    padding: 6em 3em;
    margin: 4em auto;
    background-image: url("../assets/about/tablet/image-hero-whitecup.jpg");
  }
  .card--about h1 {
    font-size: 2rem;
    text-align: left;
  }
  .card--about p {
    text-align: left;
    margin: 0;
  }
  .card--choose--us {
    padding: 2rem;
  }
  .card--great--coffee {
    background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
    background-size: cover;
    background-position: center;
    padding: 4rem;
  }
  .card--great--coffee h1 {
    width: clamp(10ch, 50%, 15ch);
    font-size: clamp(1rem, 8vw, 4rem);
    line-height: 1.2;
    text-align: left;
    margin: 1rem 0;
  }
  .card--great--coffee p {
    width: clamp(40ch, 60%, 60ch);
    margin: 0;
    text-align: left;
  }
  .card--option {
    align-items: center;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 40em;
    background-color: #0e8684;
  }
  .card--option img {
    margin: 2.5em 2rem;
  }
  .card--option h1 {
    text-align: left;
    font-size: 1.8rem;
    min-width: 15ch;
    margin: 0.5em auto;
  }
  .card--option p {
    max-width: 38ch;
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-align: left;
  }
  .card--plan {
    background-image: url("../assets/plan/tablet/image-hero-blackcup.jpg");
    padding: 4em;
  }
  .card--plan h1 {
    text-align: left;
    font-size: 6vw;
  }
  .card--plan p {
    line-height: 1.6;
    text-align: left;
    margin: 0;
    width: clamp(30ch, 50vw, 50ch);
  }

  .headquarters {
    margin: 1rem auto;
    width: 90%;
  }
  .headquarters h2 {
    margin: 1em;
    text-align: left;
    font-size: 1.5rem;
    color: #848990;
    font-family: "Fraunces", sans-serif;
  }

  .countries {
    display: flex;
  }

  .country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em auto;
    width: clamp(300px, 10vw, 450px);
    color: #333d4b;
  }
  .country svg {
    margin: 1em 0 3em 0;
  }
  .country h1 {
    text-align: left;
    font-size: 2.5vw;
  }
  .country ul {
    margin-top: 1em;
  }
  .country ul li {
    margin: 0.5em 0;
    text-align: left;
  }

  .commitment {
    position: relative;
    width: 90%;
    display: flex;
    margin: 10em auto;
  }
  .commitment__text {
    padding: 2em 0;
    margin: 0 0 0 3em;
  }
  .commitment__text h1 {
    margin: 0 0 0.8em 0;
    font-size: 4vw;
    min-width: 13ch;
    text-align: left;
  }
  .commitment__text p {
    width: clamp(26ch, 90%, 50ch);
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    text-align: left;
    margin: 0;
    line-height: 1.5;
  }

  .card--commitment {
    min-width: 16em;
    flex: 0.8;
    padding: 4em 1.5em;
    background-image: url("../assets/about/tablet/image-commitment.jpg");
    background-size: cover;
    background-repeat: none;
    margin: auto 0;
    max-height: 30em;
  }

  .steps-illustration {
    display: block;
  }

  .steps-illustration-2 {
    display: block;
  }

  .card--fake {
    margin: 5em auto;
  }
  .card--fake h3 {
    font-size: 2rem;
    text-align: left;
  }

  .how-cards {
    display: flex;
  }

  .card--how {
    padding: 0.8em;
  }
  .card--how h1 {
    margin: 0;
    text-align: left;
  }
  .card--how h2 {
    text-align: left;
    max-width: 10ch;
    margin: 0;
  }
  .card--how p {
    margin: 1em 0;
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.6;
    max-width: 35ch;
  }

  .collection__title {
    user-select: none;
    position: relative;
    top: 6.5rem;
    z-index: -1;
    margin: 0;
  }
  .collection__title h1 {
    font-size: clamp(2rem, 12vw, 8rem);
    width: 100%;
    text-align: center;
  }
  .collection .products {
    margin-top: 2.5rem;
  }
  .collection .coffee {
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
  }
  .collection .coffee .product-description {
    margin-left: 10vw;
  }
  .collection .product-image {
    margin: 0 3rem 0 0;
  }
  .collection .product-image img {
    width: 12rem;
    margin: auto;
  }
  .collection .product-description h2 {
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
  }
  .collection .product-description p {
    text-align: left;
    font-size: 1rem, 5vw, 5rem;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 20px;
  }

  nav {
    max-width: 80%;
  }

  .nav-logo {
    width: 200px;
    height: 80px;
  }

  .options {
    position: relative;
    top: -430px;
    margin: 0 0 0 auto;
    width: clamp(20em, 70%, 50em);
  }

  .card--great--coffee {
    width: 80%;
    padding: 5em 6em;
    background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
  }
  .card--great--coffee h1 {
    width: clamp(6ch, 60%, 8em);
    font-size: clamp(1rem, 4vw, 4rem);
  }
  .card--great--coffee p {
    margin: 2em 0;
  }
  .card--great--coffee button {
    margin: 5em auto 0 0;
  }

  .collection {
    width: 80%;
  }
  .collection__title {
    top: 8em;
  }
  .collection__title h1 {
    font-size: clamp(2rem, 10vw, 10rem);
  }
  .collection .products {
    flex-direction: row;
  }
  .collection .product-image {
    margin: 0 auto 4rem auto;
  }
  .collection .product-image img {
    width: 300px;
  }
  .collection .product-description {
    position: relative;
    height: 8em;
  }
  .collection .product-description h2 {
    width: 100%;
    text-align: center;
    transform-origin: center center;
    margin: 0 auto 1em auto;
  }
  .collection .product-description p {
    font-size: clamp(0.8rem, 1vw, 1rem);
    text-align: center;
    line-height: 1.6;
  }
  .collection .coffee {
    flex-direction: column;
  }
  .collection .coffee .product-description {
    margin: 0 auto;
  }

  .card--option {
    width: clamp(3em, 20vw, 25em);
    height: 20em;
    margin: 1em;
    display: flex;
    flex-direction: column;
  }
  .card--option img {
    width: 5em;
    margin: 1em;
  }

  .option__description h1 {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
  }
  .option__description p {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.6;
  }

  .option-cards {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    display: flex;
    justify-content: center;
  }

  .card--choose--us {
    width: 80%;
    position: relative;
    padding: 2em 0 10em 0;
    margin: 6em auto 22em auto;
  }

  .card--how p {
    margin: 2em 0;
    font-size: clamp(0.8rem, 10vw, 1rem);
  }
  .card--how h2 {
    margin: 1em 0;
    min-width: 100%;
  }

  .card--fake {
    width: 80%;
  }
  .card--fake h3 {
    margin: 0 0 10vw 0;
  }
  .card--fake button {
    margin: 2em 0 0 0;
    padding: 1em 3em;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 1em 4em;
    flex-direction: row;
  }
  footer .logo {
    width: 300px;
    margin: auto 3em;
  }
  footer ul {
    margin: auto 0 auto 1em;
  }
  footer li {
    display: inline;
    font-weight: 500;
  }
  footer .socials {
    margin: auto 3em auto auto;
    height: 50px;
    width: 200px;
  }
  footer .socials .icon {
    margin: auto 0;
    height: 30px;
    width: 30px;
  }

  .card--about {
    width: 80%;
    padding-left: 6em;
    background-image: url("../assets/about/desktop/image-hero-whitecup.jpg");
  }
  .card--about h1 {
    font-size: 3rem;
  }
  .card--about p {
    max-width: 46ch;
    line-height: 1.8;
  }

  .commitment {
    width: 70%;
  }

  .card--commitment {
    background-image: url("../assets/about/desktop/image-commitment.jpg");
    background-position: center;
    min-height: 36em;
    min-width: 20em;
  }

  .commitment__text {
    padding: 6em 0;
    margin-left: 6em;
    width: 50%;
  }
  .commitment__text h1 {
    font-size: clamp(1rem, 10vw, 2.4rem);
  }
  .commitment__text p {
    width: 50ch;
    font-size: clamp(0.8rem, 5vw, 1rem);
    line-height: 1.6;
  }

  .quality {
    width: 80%;
    margin: 20em auto 15em auto;
    padding: 3vw 3em 4em 3em;
    height: clamp(25em, 30vw, 50em);
  }
  .quality-text {
    width: 60%;
    margin: auto 0 auto 6em;
  }
  .quality-text p {
    margin: 0;
    text-align: left;
    font-size: 1rem;
  }
  .quality-text h1 {
    margin: 1em 0;
    width: 80%;
    text-align: left;
    font-size: clamp(1.8rem, 2vw, 2.2rem);
  }
  .quality-img {
    width: clamp(20em, 25vw, 30em);
    height: clamp(20em, 26vw, 30em);
    right: 0;
    top: -5em;
    transform: translate(0, 0);
    background-image: url("../assets/about/desktop/image-quality.jpg");
  }

  .headquarters {
    width: 80%;
  }
  .headquarters h2 {
    margin-bottom: 3em;
  }

  .countries .country {
    width: 400px;
    margin: auto 3em;
  }
  .countries .country h1 {
    font-size: clamp(1rem, 2vw, 3rem);
  }

  .card--plan {
    max-width: 80%;
    background-image: url("../assets/plan/desktop/image-hero-blackcup.jpg");
  }
  .card--plan h1 {
    font-size: clamp(3.5rem, 4vw, 4.5rem);
    width: 8em;
    margin: 0.5em 0 0.3em 0;
    line-height: 1.2;
  }
  .card--plan p {
    max-width: 25em;
  }

  .all-steps {
    max-width: 80%;
    transition: 300ms width ease-in-out;
  }

  .steps-illustration-2 {
    background-image: url("../assets/plan/desktop/bg-steps.png");
    margin: 0 2em;
  }

  .questions-map {
    position: sticky;
    top: 100px;
    user-select: none;
    display: flex;
    width: clamp(300px, 2vw, 500px);
    flex-direction: column;
    margin: 200px auto 0 10%;
  }

  .separator {
    height: 2px;
    width: 100%;
    background-color: #adb0b241;
  }

  .question-map--disabled {
    user-select: none;
    pointer-events: none;
  }
  .question-map--disabled h2 {
    color: #d5d5d4 !important;
  }
  .question-map--disabled h3 {
    color: #e5e5e2 !important;
  }

  .question-map--checked h3 {
    color: #9ecdc9 !important;
  }
  .question-map--checked h2 {
    color: #adb0b2;
  }

  .question-map--active h2 {
    color: #333d4b !important;
  }

  .question-map {
    cursor: pointer;
    display: flex;
    margin: 1.2em 0;
  }
  .question-map h3 {
    color: #cdcecd;
    font-size: 1.5rem;
    font-family: "Fraunces", sans-serif;
  }
  .question-map h2 {
    margin-left: 1em;
    color: #adb0b2;
    font-size: 1.5rem;
    font-family: "Fraunces", sans-serif;
  }
  .question-map:hover h3 {
    color: #b4b6b8;
  }
  .question-map:hover h2 {
    color: #848990;
  }

  .questions-section {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
  }

  .choice {
    width: 100%;
  }

  .order-overview {
    padding: 2em 0 0 0;
  }
  .order-overview button {
    margin: 3em 0 0 auto;
  }

  .order-preview {
    width: 100%;
    margin: 0 0 0 auto;
  }
  .order-preview h3 {
    font-weight: 600;
  }
}

/*# sourceMappingURL=style.css.map */
