@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #fefcf7;
}

nav {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
nav img {
  width: 8rem;
  margin: 0.5rem;
}

#hamburger {
  user-select: none;
  height: 16px;
  width: 16px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #343e4c;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(3) {
  bottom: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 106%;
  top: 0;
  left: 0;
}

#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 106%;
  bottom: 0;
  left: 0;
}

.hidden {
  pointer-events: none;
  opacity: 0 !important;
}
.hidden ul {
  opacity: 0 !important;
  transform: translate(0px, -25px) !important;
}

.modal-menu {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  opacity: 1;
  transition: opacity 300ms ease-in;
  font-family: "Fraunces", sans-serif;
  background: #fefcf7;
  background: -moz-linear-gradient(180deg, #fefcf7 25%, rgba(254, 247, 247, 0) 100%);
  background: -webkit-linear-gradient(180deg, #fefcf7 25%, rgba(254, 247, 247, 0) 100%);
  background: linear-gradient(180deg, #fefcf7 25%, rgba(254, 247, 247, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefcf7",endColorstr="#fef7f7",GradientType=1);
  text-align: center;
}
.modal-menu ul {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 200ms ease-out 200ms, transform 500ms ease-out;
}
.modal-menu li {
  color: #343e4c;
  font-size: 1.2rem;
  list-style: none;
  margin-bottom: 1rem;
  user-select: none;
}
.modal-menu li a {
  text-decoration: none;
  color: #343e4c;
}
.modal-menu li a:hover {
  cursor: pointer;
  color: #0e8684;
}

.card {
  margin: auto;
  border-radius: 0.8rem;
}
.card h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1em 0;
  color: #fefcf7;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.card p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #fefcf7;
  font-family: "Barlow", sans-serif;
}
.card button {
  user-select: none;
  display: flex;
  color: #fefcf7;
  padding: 1em 2em;
  border-radius: 0.5rem;
  font-family: "Fraunces", sans-serif;
  margin: 3em auto 1em auto;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #0e8684;
}
.card button:hover {
  cursor: pointer;
  background-color: #66d2cf;
}
.card--great--coffee {
  padding: 4em 1.5em;
  width: 90%;
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
  background-size: cover;
}
.card--choose--us {
  padding: 4em 1.5em;
  max-height: 60rem;
  width: 90%;
  background-color: #293039;
}
.card--choose--us p {
  margin-bottom: 4em;
}
.card--option {
  padding: 1em 0;
  margin: 1.5em 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0e8684;
}
.card--option img {
  margin: 2.5em auto;
  width: 5em;
}
.card--option p {
  margin: 1em;
  font-size: 1rem;
  line-height: 1.5rem;
}
.card--how {
  width: 100%;
  position: relative;
  margin: 3em 0;
  background: #fefcf6;
}
.card--how h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #293039;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.card--how h1 {
  font-size: 4rem;
  line-height: 6rem;
  margin: 2em auto 0 auto;
  color: #fdd6ba;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.card--how p {
  margin: 2em auto;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #293039;
}
.card--fake {
  margin-top: 45em;
  width: 90%;
  position: relative;
}
.card--fake h3 {
  color: #83888f;
  text-align: center;
  line-height: 2rem;
  font-size: 1.5rem;
  font-family: "Fraunces", sans-serif;
  margin: 5em 0;
}

.collection {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5em auto;
}
.collection__title {
  position: relative;
  margin: 1em auto;
}
.collection__title h1 {
  font-size: 2.4rem;
  color: #848990;
  font-family: "Fraunces", sans-serif;
}
.collection__title .title-gradient {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fefcf7;
  background: -moz-linear-gradient(0deg, rgba(254, 252, 247, 0.8044818269) 25%, rgba(254, 247, 247, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(254, 252, 247, 0.8044818269) 25%, rgba(254, 247, 247, 0) 100%);
  background: linear-gradient(0deg, rgba(254, 252, 247, 0.8044818269) 25%, rgba(254, 247, 247, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefcf7",endColorstr="#fef7f7",GradientType=1);
}

.products {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.coffee {
  margin: 2em auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.coffee .product-image {
  margin: auto;
}
.coffee .product-image img {
  width: 15rem;
}
.coffee h1 {
  margin: 1em 0;
  font-family: "Fraunces", sans-serif;
  text-align: center;
}
.coffee p {
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4rem;
}

footer {
  margin-top: 8em;
  font-family: "Barlow", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #2c343e;
  padding: 3em 0;
  color: #fefcf7;
}
footer img {
  margin: 1em auto;
  width: 12rem;
  max-width: 60%;
}
footer ul {
  margin: auto;
}
footer li {
  user-select: none;
  text-transform: uppercase;
  color: #83888f;
  list-style: none;
  text-align: center;
  margin: 1rem 0;
}
footer li:hover {
  cursor: pointer;
  color: #fefcf7;
}

.socials {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}
.socials img {
  width: 1.5rem;
  margin: 2rem auto;
}
.socials img:hover {
  cursor: pointer;
}

@media (min-width: 400px) {
  html {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
